<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please confirm flight booking ticket, <%= @user.name %></h1>
    <p>
      You booked ticket to flight from <%= @booking.flight.arrival_airport.code %>
      to <%= @booking.flight.departure_airport.code%>, on <%= @booking.flight.start_datetime%>.<br>
    </p>
    <p>
      To confirm booking go to this link: <%= @url %>.
    </p>
    <p>Thanks for booking and enjoy your flight!</p>
  </body>
</html>