<h1>Create article</h1>

<% flash.each do |type, msg| %>
  <% if (type == "success") %>
    <div style="background-color:#8ebf42">
      <%= msg %>
    </div>
  <% elsif (type == "error")%>
    <div style="background-color: red">
      <%= msg %>
    </div>
  <% else %>
    <div >
      <%= msg %>
    </div>
  <% end %>
<% end %>  

<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% @post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
